/* clearfix */
.row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
[class*=col-] {
    float: left;
    padding: 0;
}
.container {
    border: 2px solid white;
	max-width: 1200px;
	margin: 0 auto;
}
.card {
    border: 3px solid grey;
    background-color: green;
	height:100px;
	margin: 10px;
}
.col-4 {
    width: 33.333%;
}
#dd {
    height:350px;  
    background-image: url(img1.jpg), url(img2.jpg), url(img3.jpg);
    background-size: 380px 350px;
}
.col-8 {
    width: 66.667%;
}
#gg {  
    margin: -241 10px;
    background-color: pink;
}
#kk {  
    margin: -116 10px;
    background-color: rgb(255, 226, 192);
}
p {
    position: absolute;
    color:red;
    font-size: 20px;
}
img {
    height: 50px;  
}
title {
    color: black;
}